---
title: Organizers and contacts
description: Organizers and contacts.
image: /images/background2/salute.jpg
---

<style>


.sponsor-logos {
	display: flex;
	flex-wrap: wrap;  
	justify-content: center; 
	align-items: center; 
	gap: 40px; 
}

.sponsor-logos img {
	height: 100px; 
	max-width: 200px; 
	object-fit: contain; 
}

</style>


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style="text-shadow: 0px 0px 8px black; text-align: center;">Organizers and contacts</h1>
		</div>
	</div>

</section>



<div class="content">

	<section class="pad">
		<div class="container">
			<p class="editor-link"><a href="cloudcannon:collections/_organizers" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
			
			<ul class="staff">

				{% assign sorted_organizers = site.organizers | sort: "order" %}
				{% for person in sorted_organizers %}
				
				<li>
					<!-- Foto temporaneamente disattivate -->
					<!-- <div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div> -->
					<div class="name">
						{% if person.website %}
							<a href="{{ person.website }}" target="_blank">{{ person.name }}</a>
						{% else %}
							{{ person.name }}
						{% endif %}
					</div>					
					
					<div class="position">{{ person.position }}</div>

				</li>
				
				{% endfor %}
			</ul>

		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Contacts</h2>
				<p>For any further question please write to <a href="mailto:fabrizio.lombardi@unipd.it">fabrizio.lombardi@unipd.it</a>.</p>
			</div>
		</div>
	</section>

</div>
